In [ ]:
cursor.execute("""
    CREATE TABLE Employee(
        emp_id INTEGER, 
        first_name TEXT, 
        last_name TEXT,
        sex TEXT, 
        salary INTEGER,
        super_id INTEGER,
        branch_id INTEGER,
        PRIMARY KEY(emp_id)
)

""")

In [ ]:
cursor.execute("""
    CREATE TABLE Branch(
        branch_id INTEGER,
        branch_name TEXT,
        mgr_id INTEGER,
        PRIMARY KEY(branch_id),
        FOREIGN KEY(mgr_id) REFERENCES Employee(emp_id)
)

""")

In [ ]:
cursor.execute("""
    CREATE TABLE Works_With(
        emp_id INTEGER,
        client_id INTEGER,
        total_sales INTEGER

)

""")

In [ ]:
cursor.execute("""
    CREATE TABLE Client(
    client_id INTEGER,
    client_name TEXT,
    branch_id INTEGER,
    PRIMARY KEY(client_id),
    FOREIGN KEY(branch_id) REFERENCES Branch(branch_id)
)

""")

In [ ]:
INSERT INTO Employee VALUES (100, 'David', 'Wallace', 'M', 250000, NULL, 1)


objs = [
    (101, 'Jan', 'Levinson', 'F', 110000, 100, 1),
    (102, 'Michael', 'Scott', 'M', 75000, 100, 2)
]

cursor.executemany("""
    INSERT INTO Employee VALUES (?, ?, ?, ?, ?, ?, ?)

""", objs)

In [ ]:
lst = []
data = pd.read_excel('datadb.xlsx', sheet_name='Employee')
records = data.to_records(index=False)
result = list(records)

for i in range(len(result)):

    cursor.execute(f"""
        INSERT INTO Employee VALUES {result[i]}

    """)

In [ ]:
ALTER TABLE Employee ADD addedcolumn TEXT

In [ ]:
SELECT COUNT(salary), SEX FROM Employee GROUP BY sex

In [ ]:
cursor.execute("""
    SELECT Employee.first_name FROM Employee 
    UNION SELECT Employee.last_name FROM Employee 
    UNION SELECT Branch.branch_name FROM Branch
""")

In [ ]:
cursor.execute("""
    SELECT Employee.first_name, Branch.branch_name 
    FROM Branch JOIN Employee 
    ON Employee.emp_id = Branch.mgr_id
""")

In [ ]:
cursor.execute("""
    SELECT first_name, last_name FROM Employee 
    WHERE salary IN (SELECT salary FROM Employee WHERE sex = 'F') 
""")

In [ ]:
cursor.execute("""
    -- THIS IS A COMMENT
    SELECT DISTINCT(branch_id) FROM Employee
""")

**Final Code Implementations**

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')

cursor = conn.cursor()

cursor.execute("""
    CREATE TABLE testtable(
        rowid INTEGER,
        Name TEXT, 
        Email TEXT,
        PRIMARY KEY(rowid)
    )
""")

cursor.execute("INSERT INTO testtable VALUES('1', 'testperson1', 'test@gmail.com')")

cursor.execute("SELECT * FROM testtable")

res = cursor.fetchall()

for i in res:
    print(i)

conn.commit()

conn.close()

In [ ]:
import sqlite3
import os
import pandas as pd

lst = []
data = pd.read_excel('empdb.xlsx', sheet_name='employee')
records = data.to_records(index=False)
result = list(records)

conn = sqlite3.connect('empdb.db')

cursor = conn.cursor()

cursor.execute("""
    CREATE TABLE employee(
    EmployeeID INTEGER,
    Age INTEGER,
    Department TEXT,
    DistanceFromHome INTEGER,
    EducationField TEXT,
    Gender TEXT,
    JobRole TEXT,
    MaritalStatus TEXT,
    MonthlyIncome INTEGER, 
    OverTime TEXT,
    PRIMARY KEY(EmployeeID)
    )
""")

for i in range(len(result)):

    cursor.execute(f"""
        INSERT INTO employee VALUES {result[i]}
    """)
    print(result[i])

cursor.execute("SELECT * FROM employee")

res = cursor.fetchall()

for i in res:
    print(i)

# Commit command to the database
conn.commit()

# Close the connection explicitly
conn.close()

print("Execution completed successfully")

In [ ]:
import sqlite3
import os
import pandas as pd

lst = []
data = pd.read_excel('empdb.xlsx', sheet_name='employee')
records = data.to_records(index=False)
result = list(records)

conn = sqlite3.connect('empdb.db')

cursor = conn.cursor()

cursor.execute("""
    CREATE TABLE employee(
    EmployeeID INTEGER,
    Age INTEGER,
    Department TEXT NOT NULL,
    DistanceFromHome INTEGER,
    EducationField TEXT,
    Gender TEXT,
    JobRole TEXT,
    MaritalStatus TEXT,
    MonthlyIncome INTEGER, 
    OverTime TEXT,
    PRIMARY KEY(EmployeeID)
    )
""")

for i in range(len(result)):

    cursor.execute(f"""
        INSERT INTO employee VALUES {result[i]}
    """)
    # print(result[i])

try:
    cursor.execute("INSERT INTO employee(EmployeeID, Department) VALUES(450, 'dummydepartment')")
    print("Executed")
    cursor.execute("INSERT INTO employee(EmployeeID, Age) VALUES(452, 34)")
except:
    print("Cannot enter null value")

cursor.execute("SELECT * FROM employee")

res = cursor.fetchall()

for i in res:
    print(i)

# Commit command to the database
conn.commit()

# Close the connection explicitly
conn.close()

os.remove("empdb.db") 

print("Execution completed successfully")